.table {
    border-collapse: collapse;
    margin: auto 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: white ;
    margin-top: 4rem;
       
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
}  

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}